
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499071133418'); /* IE9*/
  src: url('iconfont.eot?t=1499071133418#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499071133418') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499071133418') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499071133418#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontshouye1:before { content: "\e600"; }

.icon-icon19:before { content: "\e60d"; }

.icon-chuang:before { content: "\ec3f"; }

.icon-1:before { content: "\e608"; }

.icon-baojie:before { content: "\e609"; }

.icon-dingdan:before { content: "\e613"; }

.icon-xiyiji:before { content: "\e62f"; }

.icon-cheshen:before { content: "\e60a"; }

.icon-yue:before { content: "\e625"; }

.icon-iconset0499:before { content: "\e77a"; }

.icon-bingxiang:before { content: "\e65c"; }

.icon-shouye:before { content: "\e658"; }

.icon-lanzixian:before { content: "\e77e"; }

.icon-lanzi:before { content: "\e60c"; }

.icon-shezhi:before { content: "\e606"; }

.icon-zufang:before { content: "\e69b"; }

.icon-shezhi1:before { content: "\e62a"; }

.icon-kongdiao:before { content: "\e815"; }

.icon-yugang:before { content: "\e672"; }

.icon-buoumaotubiao41:before { content: "\e626"; }

.icon-fangzi-copy:before { content: "\e602"; }

.icon-wifi:before { content: "\e788"; }

.icon-yizi:before { content: "\e604"; }

.icon-chuanglian:before { content: "\e6ca"; }

.icon-icon-test:before { content: "\e614"; }

.icon-qrcode-copy:before { content: "\e502"; }

.icon-fanzhuo:before { content: "\e631"; }

.icon-geren:before { content: "\e615"; }

